
%font20px2{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}
%font20px{
    font-size: 20px;
    line-height: 20px;
}
%font30px{
    font-family: 'SchoolBook';
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
}
%font50px{
    font-family: 'SchoolBook';
    font-weight: 700;
    font-size: 50px;
    line-height: 46px;
}
%font80px{
    font-family: 'SchoolBook';
    font-weight: 400;
    font-size: 80px;
    line-height: 110px;
    color: #080606;
}
%font40px{
    font-family: 'SchoolBook';
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
}
%font15px{
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
}