.history{
    background-color: #FBF8F8;
    width: 100%;
    padding-top: 180px;
    &__shewron{
        transition: all .2s;
    }
    &__deskr{
        width: 480px; 
        margin: 0 auto;
        margin-top: 48px;
        @extend %font20px2;
        color: $brown;
    }
    &__link{
        margin-top: 36px;
        text-align: center;
    }
}